<?xml version="1.0" encoding="UTF-8"?>
  <web-app>
    <servlet>
        <servlet-name>Cal_Ser</servlet-name>
        <servlet-class>controller.calculator.Cal_Ser</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Cal_Ser</servlet-name>
        <url-pattern>/Cal_Ser</url-pattern>
    </servlet-mapping>
</web-app>